* {
	box-sizing: border-box;
}
html, input {
    font-family: "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
html {
    -ms-text-size-adjust: none;
}
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}
a {
	color: #f18;
}
header {
	margin-bottom: 1em;
}
h1, h2, h3 {
	margin: 0;
	font-weight: normal;
}
h1 {
	font-size: 3.375rem;
	text-transform: lowercase;
}
h2 {
	font-size: 1rem;
	text-transform: uppercase;
}
footer {
	border-top: gray 1px solid;
	background-color: #ebebeb;
	color: gray;
	font-size: .75em;
	padding: .5em;
	text-align: right;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.main {
	min-height: 100%;
	position: relative;
}
.demo {
	padding-bottom: 2em;
}
.stickie-note,
#stickiesList li {
	background: #ffa;  
    position: relative;
    display: block;  
    height: 200px;  
    width: 200px;  
    padding: 8px;
    box-shadow: 2px 3px 6px rgba(0,0,0,.3), inset 0 0 24px rgba(0, 0, 0, .2);
}
.stickie-note:before, .stickie-note:after {
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 6px;
	bottom: 6px;
	background: transparent;
	-webkit-transform: skew(-7deg) rotate(-7deg);
	-moz-transform: skew(-7deg) rotate(-7deg);
	transform: skew(-7deg) rotate(-7deg);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
} 
.stickie-note {
	margin: 0 auto 2em;
}
.stickie-note:after {
	left: auto;
	right: 6px;
	-webkit-transform: skew(7deg) rotate(7deg);
	-moz-transform: skew(7deg) rotate(7deg);
	transform: skew(7deg) rotate(7deg);
} 
#stickiesList {
	overflow: hidden;  
}
input[type=text] {
	font-size: 1.2em;
	border-width: 0;
	width: 190px;
	padding: 6px;
	background-color: transparent;
}
#stickiesList li {
	list-style: none; 
	margin: 1em;  
    float: left;  
}
#stickiesList a {
	position: absolute;
	top: 5px;
	right: 10px;
	color: #666;
	font-size: 1.5em;
	cursor: pointer;
	text-decoration: none;
}
#stickiesList p {
	font-size: 1.5em;
	font-family: "Give You Glory", sans-serif; 
	width: 190px;
	padding: .5em;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* making them more whimsical */
#stickiesList li:nth-child(odd) {    
  -webkit-transform:rotate(3deg);  
  -moz-transform:rotate(3deg); 
  transform:rotate(3deg);   
} 
#stickiesList li:nth-child(even) {   
  -webkit-transform:rotate(-2deg);  
  -moz-transform:rotate(-2deg); 
  transform:rotate(-2deg);   
} 
#stickiesList li:nth-child(3n) {    
  -webkit-transform:rotate(6deg);  
  -moz-transform:rotate(6deg); 
  transform:rotate(6deg);
  top: -5px;   
} 
#stickiesList.add li:first-child {
  -webkit-animation: addStickie .8s ease-out;
  -moz-animation: addStickie .8s ease-out;
  animation: addStickie .8s ease-out;
}
@-webkit-keyframes addStickie {
  from {
    opacity: 0;
    -webkit-transform: scale(1.4); 
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes addStickie {
  from {
    opacity: 0;
    -moz-transform: scale(1.4);
  }

  to {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@keyframes addStickie {
  from {
    opacity: 0;
    transform: scale(1.4);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


@media only screen and (min-width: 856px) {
	html {
		font-size: 1.2rem;
	}
	header,
	.demo {
		margin: 1em;
	}
	.stickie-note, #stickiesList li {
		background: #ffa;  
	    position: relative;
	    display: block;  
	    height: 220px;  
	    width: 220px;  
	    padding: 10px;
	    box-shadow: 2px 4px 8px rgba(0,0,0,.3), inset 0 0 24px rgba(0, 0, 0, .2);
	}
	input[type=text], #stickiesList p {
		width: 200px;
	}
}
